.homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57vh;
    background: linear-gradient(
  90deg,
  #6b0f3f 0%,
  #4e0f52 22%,
  #2f145f 45%,
  #16206b 68%,
  #0b1b57 85%,
  #071644 100%
);
}
.home-img{
    width: 900px;
    margin-left: 20px;
    object-fit: cover;
    opacity: 0.9;
}
.home-text{
    padding: 50px;
    font-size: large;
    color: white;
}
.home-text h1{
    font-weight: bolder;
    font-size: 3rem;
}
.home-text p{
    font-weight:500;
    text-align: justify;
}