.homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57vh;
    background: linear-gradient(
  90deg,
  #6b0f3f 0%,
  #4e0f52 22%,
  #2f145f 45%,
  #16206b 68%,
  #0b1b57 85%,
  #071644 100%
);
}
.home-img{
    width: 800px;
    margin-left: 10px;
    object-fit: cover;
    opacity: 0.45;
}
.home-text{
    padding: 50px;
    font-size: large;
    color: rgb(195, 191, 191);
    margin-bottom: 55px;
}
.home-text h1{
    font-weight: bolder;
    font-size: 3rem;
}
.home-text p{
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    text-align: justify;
}
.nav-trending{
    font-weight: bold;
    color: rgb(195, 191, 191);
    text-decoration: none;
}