body {
  margin: 0;    
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #0f0f14;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.login-container > div {
  display: flex;
  width: 900px;
  max-width: 95%;
  height: 520px;
  background-color: #1f1f2b;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.login-image-section {
  flex: 1;
  background: #000;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.login-form-section {
  flex: 1;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 35px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.login-form-section p {
  font-size: 13px;
  color: #9ca3af;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  font-size: 13px;
  color: #9ca3af;
  margin-bottom: 6px;
}

.login-input {
  background-color: #1f1f2b;
  border: 1px solid #2d2d3a;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 18px;
  outline: none;
  transition: border 0.3s;
}

.login-input::placeholder {
  color: #6b7280;
}

.login-input:focus {
  border-color: #ef4444;
}

.login-submit-btn {
  background-color: #ef4444;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-submit-btn:hover {
  background-color: #dc2626;
}

.register-text {
  margin-top: 18px;
  font-size: 13px;
  color: #9ca3af;
  text-align: center;
}

.register-text span {
  color: #ef4444;
  cursor: pointer;
}

.register-text span:hover {
  text-decoration: underline;
}

