.login-container {
  min-height: 90vh;
  display: flex;
  background: linear-gradient(
    90deg,
    #6b0f3f 0%,
    #4e0f52 22%,
    #2f145f 45%,
    #16206b 68%,
    #0b1b57 85%,
    #071644 100%
  );
}

.login-image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.login-form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.35);
}

/* Title */
.login-title {
 font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: auto;
}

.login-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #e5e7eb;
}

.login-input {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  width: 400px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.login-input::placeholder {
  color: #9ca3af;
}

/* Button */
.login-submit-btn {
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #2563eb, #1e40af);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.35);
}

/* Register text */
.register-text {
  color: #e5e7eb;
  font-size: 0.95rem; 
  margin-top: 10px;
}

.register-text a {
  text-decoration: none;
}

.register-text span {
  color: #38bdf8;
  font-weight: 600;
  margin-left: 0.25rem;
}

.register-text span:hover {
  text-decoration: underline;
}