.header {
  background-color: #111827;
  color: white;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1rem 1.75rem;
  gap: 5rem;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #dc2626;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  padding: 0.25rem 1.5rem;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #7a7a7a;
}

.search-input {
  border: none;
  outline: none;
  color: black;
  padding: 0 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.nav-item {
   font-size:large;
  font-weight: 600;
}

.watchlist {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.watchlist-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.watchlist-text {
  font-size:large;
  font-weight: 600;
}
